body {
    background-color: rgba(255, 255, 0, .6);
}
h1{
    margin-top: 20px;
    text-align: center;
}
  
#show-result{
    display: none ;
    width: 350px;
    
}
button{
    background-color: #fff;
    border: none;

}